@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* height: 100vh; */
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
	height: 100vh;
}
body {
	height: 100%;
	min-height: 100%;
}

.ReactModal__Overlay {
	opacity: 0;
	transform: translateY(-100px);
	transition: all 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
	transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
	opacity: 0;
	transform: translateY(-100px);
}
